body {
  padding: 0 0 0 20px;
  margin: 0;
}

a {
  color: grey;
  text-decoration: none;
}

p {
  display: inline;
}
.nav li {
  display: inline;
}

.nav {
  padding: 0;
}

ul li {
  display: inline;  
}

ol li:first-child {
  color: red;
}

h1, h2, h3, h4, h5, h6 {
  color: #77B29E;
}

h1 {
  padding: 10px 0 0 0;
}

h2 {
  padding: 0 10px 0 0;
}

h3 {
  border-bottom: 1px solid grey;
  padding-bottom: 2px;
}