body {
  padding: 0 0 0 20px;
  margin: 0;
}

a {
  color: grey;
  text-decoration: none;
}

p {
  display: inline;
}

.nav {
  padding: 0;
}

.nav li {
  display: inline;
}

h1, h2, h3, h4, h5, h6 {
  color: #77B29E;
}

h1 {
  padding: 10px 0 0 0;
}

h2 {
  padding: 0 10px 0 0;
}

h3 {
  border-bottom: 1px solid grey;
  padding-bottom: 2px;
}

.recipes {
    list-style-type: none;
    padding: 0;
}

.recipes a {
    color: #7facaa;
    text-decoration: none;
}

.recipes h3 {
    border-bottom: 0;
}

.recipes li {
    border: 1px solid #b56663;
    margin-bottom: 5px;
    padding-left: 15px;
}